@import "../../../styles/_variables.scss";

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $navbar-bg;
    height: $navbar-height;

    &__list {
        display: flex;
        align-items: center;
        flex: 2;
        list-style: none;

        &:last-of-type {
            flex: 1;
            justify-content: right;
        }
    }

    &__item {
        display: flex;
        padding: .3rem;
        margin: .3rem;
        border: 1px solid transparent;
        border-radius: $border-radius;
        cursor: pointer;
    
        &--positioned {
            position: absolute;
            right: 0;
        }
    
        &:hover {
            background-color: $navbar-icons-bg-hover;
        }
    }
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    flex: 2;
    min-width: 80px;
    max-width: 500px;
    border-radius: $border-radius;
    color: $navbar-icons-color;

    &:hover, &:focus-within {
        color: $primary-text-color;
        background-color: $navbar-icons-color;

        & .icon--search {
            z-index: 5;
            fill: $primary-text-color;
        }

        & .icon--clear {
            fill: $primary-text-color;
        }

    }

    &__input {
        width: 100%;
        position: relative;
        padding: .5rem 3rem .5rem 2.5rem;
        line-height: 1;
        border: none;
        border-radius: $border-radius;
        background-color: inherit;
        color: inherit;
        
        &::placeholder {
            color: inherit;
            font-family: inherit;
        }
    }
}

.icon {
    fill: $navbar-icons-color;
    width: $icon-size;
    height: $icon-size;

    &--clear {
        fill: $navbar-icons-color;
        transform: rotate(135deg);
    }

    &--search {
        display: inline-block;
        height: $icon-size;
        width: $icon-size;
        position: absolute;
        top: 50%;
        left: .5rem;
        transform: translate(-3%, -50%);
    }
}