@import "../../../styles/_variables.scss";

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $navbar-bg;
    height: $navbar-height;

    &__list {
        display: flex;
        align-items: center;
        flex: 2;
        list-style: none;

        &:last-of-type {
            flex: 1;
            justify-content: right;
        }
    }

    .search-box {
        display: flex;
        align-items: center;
        position: relative;
        flex: 2;
        min-width: 80px;
        max-width: 500px;

        &__input {
            width: 100%;
            padding: .5rem .3rem .5rem 2.5rem;
            border: none;
            border-radius: $border-radius;
            color: $navbar-text-color;
            background-color: $navbar-icons-bg-hover;
            
            &::placeholder {
                color: inherit;
                font-family: inherit;
            }

            &:hover, &:active, &:focus {
                background-color: $navbar-icons-color;
                color: $primary-text-color;
                
                & + .search-box__icon {
                    fill: $primary-text-color;
                }
            }
        }

        &__icon {
            position: absolute;
            left: 10px;

            fill: $navbar-icons-color;
            width: $icon-size;
            height: $icon-size;
        }
    }

    li {
        display: flex;
        border: 1px solid $navbar-bg;
        padding: .3rem;
        margin: .3rem;

        &:hover {
            cursor: pointer;
            background-color: $navbar-icons-bg-hover;
            border-radius: $border-radius;
        }
    }

    .icon {
        fill: $navbar-icons-color;
        width: $icon-size;
        height: $icon-size;
    }
}